backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

frontend/*.iws
frontend/*.ipr

backend/*.iws
backend/*.ipr

## node ##
frontend/node_modules/**.*
frontend/node_modules/


!frontend/.idea
